// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

$bg: #FFFFFF;
$header-color: #09A5CC;

html {
  background: $bg;
}
body > nav {
  background: $bg;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  font-family: $sans;

  a {
//    font-family: 'Helvetica Neue', sans-serif;
  font-family: $sans;
    font-weight: normal;
    font-size: 1em;
    text-shadow: none;
  }
}
ul.subscription {
  display: none;
}
body > footer {
  background: $bg;
  text-shadow: none;
  font-size: 0.7em;
}
body {
  max-width: 720px;
  p, ul>li {
    color: #505050;
    font-size: 0.9em;
  }
}

time {
  font-family: 'Raleway', sans-serif;
  text-transform: lowercase;
  font-size: .9em;
}

#main {
  border-bottom: none;
}

#content {
  min-height: 500px;
}

body >div > div {
  background: $bg;
}

body>header h1 a, body>header h1 a:visited, body>header h1 a:hover {
//  color: #1abc9c;  // green
  color: $header-color;
}

body>header {
  padding-top: 1em;
}

article {
  header {
    padding-top: 0em;
    padding-bottom: 0em;
//    background: none;
  }
  h1 {
      font-family: 'Raleway', sans-serif;
    color: $header-color;
    font-size: 1.5em;
  }

  h4 {
    margin-bottom: 0.4em;
      font-family: 'Raleway', sans-serif;
  }
}


header hgroup {
  text-align: center;
  display: normal;
  color: #1abc9c;
  h1 {
    font-size: 1.6em;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 3.5em;
    margin-top: 1em;
    line-height: 1em;
  }
  h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    color: #34495e;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

// Remove sidebar line:
body > div > div { border-right-width: 0px;}
aside.sidebar {
  display: none;
}

#obfuscate-email {
  font-weight: bold;
}


